h1 {
  font-size: 30px;
  margin: 0;
  color: white;
}

header {
  background: #8E44AD;
  padding: 20px;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  color: #666666;
}

img {
  max-width: 100%;
}

article {
  padding: 20px;
}

@media screen and (max-width: 480px){
  header h1 {
    text-align: center;
  }

}
@media screen and (min-width: 480px) {
    .awesome {
      width: 50%;
      float: left;
    }

    article {
      max-width: 900px;
      margin: 0 auto;
    }

}
